

.content{
  width: 170px;
  height: 230px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
.img{
  width: 70px;
  height: 70px;
  background-color: #282c34;
}
.title{

}
.textDescription{
border: 2px solid red;
}