.wrapper{
  max-width: 1100px;
  min-height: 300px;
  margin: 0 auto;
  background-color: olivedrab;
  padding: 30px 30px;
}
.content{

}
.skills{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}